<!--<h1>Kaffee oder Tee?</h1>-->
<!--<a href="/kaffee"><button>Kaffee</button></a>-->
<!--<a href="/tee"><button>Tee</button></a>-->

<mat-toolbar color="primary">
  <button type="button" mat-button (click)="drawer.toggle()">
    <mat-icon [fontIcon]="'menu'"></mat-icon>
    MENU
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list>
      <mat-list-item *ngFor="let nav of navigation">
        <a [routerLink]="nav.path" [queryParams]="nav.queryParams" [fragment]="nav.fragment">
          <button type="button" mat-button>
            {{nav.name}}
          </button>
        </a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="plr-20">
<!--    <form>-->
<!--      <input  [(ngModel)]="testInput">-->
<!--    </form>-->
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
<footer>
  <a href="https://www.flaticon.com/free-icons/arrow" title="arrow icons">Arrow icons created by rang - Flaticon</a>
</footer>
